<div class="box-it">
    <form [formGroup]="form" (ngSubmit)="upload()">
        <table>
            <tr>
                <td>
                    <img [src]="imageData" class="thumbnail"/>
                </td>
            </tr>
            <tr>
                <td>
                    Title: 
                    <br>
                    <input type="text" size="30" formControlName="title"/>
                </td>
            </tr>
            <tr>
                <td>
                    Complain: 
                    <br>
                    <textarea cols="30" rows="4" formControlName="complain"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="button" [routerLink]="['/']">Back</button>
                    <button type="submit">Upload</button>
                </td>
            </tr>
        </table>
    </form>
</div>
